---
name: Build & Test

on:
  push:
    branches: [main]
    tags:
      - v**
  merge_group:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  GTEST_COLOR: 1

jobs:
  build-windows:
    name: Windows Host Build
    runs-on: [ubuntu-latest]
    container: ghcr.io/philips-software/amp-devcontainer-vscode:4.7.0@sha256:4c7279baa6c3f1acf28d91a5c8f074d80cbe78034647eee358fc5b05968dccfb #4.7.0
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        id: cache-winsdk
        with:
          path: /winsdk
          key: cache-winsdk
      - if: ${{ steps.cache-winsdk.outputs.cache-hit != 'true' }}
        run: ./get-winsdk.sh
      - uses: hendrikmuhs/ccache-action@c92f40bee50034e84c763e33b317c77adaa81c92 #v1.2.13
        with:
          key: ${{ github.job }}
          max-size: 2G
      - run: |
          cmake --preset=Windows
          cmake --build --preset=Windows-Release

  build-linux:
    name: Linux Host Build
    runs-on: [ubuntu-latest]
    container: ghcr.io/philips-software/amp-devcontainer-vscode:4.7.0@sha256:4c7279baa6c3f1acf28d91a5c8f074d80cbe78034647eee358fc5b05968dccfb #4.7.0
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      - uses: hendrikmuhs/ccache-action@c92f40bee50034e84c763e33b317c77adaa81c92 #v1.2.13
        with:
          key: ${{ github.job }}
          max-size: 2G
      - run: |
          cmake --preset=Host
          cmake --build --preset=Host-Release
          ctest --preset=Host-Release
  test-linux:
    name: Linux Host Test
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
    container: ghcr.io/philips-software/amp-devcontainer-vscode:4.7.0@sha256:4c7279baa6c3f1acf28d91a5c8f074d80cbe78034647eee358fc5b05968dccfb #4.7.0
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      - uses: hendrikmuhs/ccache-action@c92f40bee50034e84c763e33b317c77adaa81c92 #v1.2.13
        with:
          key: ${{ github.job }}
          max-size: 2G
      - run: |
          cmake --preset=Host
          cmake --build --preset=Host-Debug
          bats --formatter junit test/test.bats | tee test-report.xml
      - uses: EnricoMi/publish-unit-test-result-action@30eadd5010312f995f0d3b3cff7fe2984f69409e # v2.16.1
        if: always()
        with:
          files: test-report.xml
